<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Page</span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Service</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="who am i ?" >
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>

<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, you're correct !!</h1>
</mat-card>

<mat-toolbar color="default">
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
    <!-- <mat-icon class="example-icon">delete</mat-icon> -->
  </mat-toolbar-row>

</mat-toolbar>

